<html>
	<head>
		<title>Gibberish</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>
			function copyIt(element){
				var $temp = $("<input>	");
				$("body").append($temp);
				$temp.val($(element).text()).select(); //select the text field
				document.execCommand("copy"); //copy command in text field
				$temp.remove();
			}
		</script>
	</head>
	<body style="background-color:teal;">
		<center>
		<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Generate Gibberish</button>
		</form>
	</center>
		{% if paragraph %}
		<div>
			<center>
			<p>Here you go!</p>
			<p id="prg">{{ paragraph }}</p>
			<button onclick="copyIt('#prg')">Copy to Clipboard</button></center>
		</div>
		{% endif %}
	</body>
</html>
